<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Login Page</title>
</head>
<body>

<div class="wrapper">
  <div class="header">
    <div class="top">
      <div class="logo">
        <img src="./assets/images/sign-up-form.png" alt="instagram" style="width: 175px;">
      </div>
      <div class="form">
        <div class="input_field">
          <input type="text" placeholder="Firstname" class="input">
        </div>
        <div class="input_field">
          <input type="text" placeholder="Lastname or email" class="input">
        </div>
        <div class="input_field">
          <input type="text" placeholder="Username or email" class="input">
        </div>
        <div class="input_field">
          <input type="password" placeholder="Password" class="input">
        </div>
        <div class="btn"><a href="#">Sign Up</a></div>
      </div>

      <div class="dif">
        <div class="forgot">
          <p>Have already an account? <a href="/login">Log In</a></p>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
