@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #fafafa;
  font-size: 14px;
}

.wrapper .header{
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 50px auto;
}

.wrapper .header .top,
.wrapper .signup{
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 40px 40px 20px;
}

.wrapper .header .logo img{
  display: block;
  margin: 0 auto 35px;
}

.wrapper .header .form .input_field{
  margin-bottom: 5px;
}

.wrapper .header .form .input_field .input{
  width: 100%;
  background: #fafafa;
  border: 1px solid #efefef;
  font-size: 12px;
  border-radius: 3px;
  color: #262626;
  padding: 10px;
}

.wrapper .header .form .input_field .input:focus{
  border: 1px solid #b2b2b2;
}

.wrapper .header .form .btn{
  margin: 10px 0;
  background-color: #a9a5c6;
  border: 1px solid #a9a5c6;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
}

.wrapper .header .form .btn a{
  color: #fff;
  display: block;
}
.wrapper .dif .forgot{
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.wrapper .dif .forgot a{
  color: #003569;
}








